*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html,
body {
	/*font-family: -apple-system, BlinkMacSystemFont, "AvenirNext-Regular", "Helvetica Neue", "lucida grande", "PingFang HK", "Heiti SC", "Hiragino Sans GB", "Microsoft Yahei", SimHei, "WenQuanYi Micro Hei", "Droid Sans", "Roboto", Helvetica, Tahoma, Arial, "sans-serif";*/
	font-family: "PingFang SC", "AvenirNext";
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 1.42857143;
}
body {
	margin: 0;
}
a {
	text-decoration: none !important;
}

:global {
	.show {
		display: block;
	}
	.hide {
		display: none;
	}
	#container {
		background: url(/public/img/big-bg.jpg) no-repeat;
		background-size: auto 100%;
		background-position-x: 100%;
		transition: all 1s;
	}
	#title {
		position: absolute;
		top: 5%;
		height: 80px;
		left: 0;
		background-color: green;
		right: 0;
		font-size: 40px;
		background: url(/public/img/title.png) no-repeat;
		text-align: right;
		line-height: 80px;
		padding-right: 30px;
		color: white;
		background-size: auto 100%;
		box-shadow: 0px 7px 3px -4px white;
	}
	#swiper {
		height: 80%;
		opacity: 1;
		
		width: 100%;
		top: 20%;
		position: absolute;
		padding-bottom: 15%;
		padding-top: 15%;
		left: 0;
		.swiper-slide  {
			position: relative;
		}
		.content {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			font-size: 3rem;
			text-align: center;
			color: white;
			padding: 15px 0 ;
			background: rgba(0, 0,0, 0.5);
		}
		.swiper-slide__bg {
			width: 100%;
			opacity: 1;
			height: 100%;
			transition: all 1s;
			box-shadow: 0 0 31px 10px white;
			background-size: auto 100%;
			background-position-x: 50%;
			background-position-y: 50%;
		}
		@for $i from 0 to 6 {
			.swiper-slide__bg$i {
				background-image: url(/public/img/nav_$(i).jpg);
				
			}
			.swiper-slide-active .swiper-slide__bg {
				background-size: auto 110%;
				background-position-x: 50%;
				background-position-y: 40%;
				
			}
		}

	}
	#modal-top {
		& .modal-dialog  {
			width: 80%;
			height: 80%;
		}
		& .modal-content {
			position: relative;
			height: 100%;
		}
		& .close{
			position: absolute;
			right: 2%;
			top: 2%;
		}
		& .modal-body {
			position: initial;
		}
	}
}


