*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html,
body {
	/*font-family: -apple-system, BlinkMacSystemFont, "AvenirNext-Regular", "Helvetica Neue", "lucida grande", "PingFang HK", "Heiti SC", "Hiragino Sans GB", "Microsoft Yahei", SimHei, "WenQuanYi Micro Hei", "Droid Sans", "Roboto", Helvetica, Tahoma, Arial, "sans-serif";*/
	font-family: "PingFang SC", "AvenirNext";
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 1.42857143;
}
body {
	margin: 0;
}
a {
	text-decoration: none !important;
}

:global {
	.border-bottom {
		border-bottom: 3px solid #ececec;
	}
	.border-desc__center {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			background: #53e581;
			width: 120px;
			height: 4px;
			bottom: -10px;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	.show {
		display: block;
	}
	.hide {
		display: none;
	}
	#container {
		background: url(/public/img/big-bg.jpg) no-repeat;
		background-size: auto 100%;
		background-position-x: 100%;
		transition: all 1s;
	}
	#title {
		position: absolute;
		top: 5%;
		height: 80px;
		left: 0;
		background-color: green;
		right: 0;
		font-size: 40px;
		background: url(/public/img/title.png) no-repeat;
		text-align: right;
		line-height: 80px;
		padding-right: 30px;
		color: white;
		background-size: auto 100%;
		box-shadow: 0px 7px 3px -4px white;
	}
	#swiper {
		height: 356px;
		opacity: 1;
		width: 100%;
		top: 45%;
		position: absolute;
		// padding-bottom: 15%;
		// padding-top: 5%;
		left: 0;
		.swiper-slide  {
			position: relative;
			border-radius: 3%;

		}
		.content {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			font-size: 3rem;
			text-align: center;
			color: white;
			padding: 15px 0 ;
			background: rgba(0, 0,0, 0.5);
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;

		}
		.swiper-slide__bg {
			width: 100%;
			opacity: 1;
			border-radius: 15px;
			height: 100%;
			transition: all 1s;
			// box-shadow: 0 0 31px 10px white;
		
			// background-position-x: 50%;
			// background-position-y: 50%;
		}
		.swiper-slide-shadow-left, .swiper-slide-shadow-right {
			border-radius: 15px;
		}
		@for $i from 0 to 6 {
			.swiper-slide__bg$i {
				background: url(/public/img/nav_$(i).jpg) no-repeat center;
				background-size: 100% 100%;
			}
		}
	}
	#modal-top {
		& .modal-dialog  {
			width: 80%;
			height: 86%;
			overflow: hidden;
			
		}
		& p {
			font-size: 16px;
			line-height: 1.75em;
			margin: 1.5em 0;
		}
		& .modal-content {
			position: relative;
			height: 100%;
			line-height: 1.5em;
			background: #f7f8f1;
			box-shadow: 0 0 10px 5px white;
		}
		& .close{
			position: absolute;
			right: 2%;
			top: 2%;
		}
		& .modal-body {
			position: initial;
			padding: 0;
		}
	}
	.intro-wrap {
		height: 100%;
		&__left {
			margin-top: 20px;
			& p {
				text-indent: 2em;
			}
			& img {
				margin-bottom: 20px;
				margin-top: 10px;
				// width: 70% !important;
			}
		}
		&__right {
			background: url(/public/img/intro/intro_right.jpg) no-repeat;
			background-size: 150% auto;
			background-position-x: 20%;
		}
		&__red {
			height: 50px;
			background: rgba(255, 0, 0, 0.8);
			position: relative;
			&-title {
				margin-left: 50%;
				background: #e36d00;
				color:white;
				font-size: 18px;
				height: 100%;
				width:40%;
				text-align: center;
				line-height: 50px;
				display: inline-block;

			}

		}
		& p {
			font-size: 12px !important;
			line-height: 1.5 !important;
			margin-top: 0 !important;
			// margin:  !important;
		}
	}
	.goods-wrap {
		background: url(/public/img/goods/modal1.jpg) no-repeat;
		background-size: 100% 100%;
		:global {
			.flex-item-5 {
				margin: 15px 0 0px 0; 
			}
		}
		&__img {
			width: 100%;
			& img {
				width: 100%;
			}
		}
		&__right {
			width: 52%;
			height: 100%;
			overflow: auto;
			margin-left: 48%;
		}
		& p {
			text-align: center;
			font-size: 14px !important;
			margin: 0 !important;
			margin-top: 15px !important;
		}
	}
}


