*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html,
body {
	/*font-family: -apple-system, BlinkMacSystemFont, "AvenirNext-Regular", "Helvetica Neue", "lucida grande", "PingFang HK", "Heiti SC", "Hiragino Sans GB", "Microsoft Yahei", SimHei, "WenQuanYi Micro Hei", "Droid Sans", "Roboto", Helvetica, Tahoma, Arial, "sans-serif";*/
	font-family: "PingFang SC", "AvenirNext";
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 1.42857143;
}
body {
	margin: 0;
}
a {
	text-decoration: none !important;
}

:global {
	.border-bottom {
		border-bottom: 3px solid #ececec;
	}
	.border-desc__center {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			background: #53e581;
			width: 120px;
			height: 4px;
			bottom: -10px;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	.show {
		display: block;
	}
	.hide {
		display: none;
	}
	#container {
		background: url(/public/img/big-bg.jpg) no-repeat;
		background-size: auto 100%;
		background-position-x: 100%;
		transition: all 1s;
	}
	#title {
		position: absolute;
		top: 5%;
		height: 80px;
		left: 0;
		background-color: green;
		right: 0;
		font-size: 40px;
		background: url(/public/img/title.png) no-repeat;
		text-align: right;
		line-height: 80px;
		padding-right: 30px;
		color: white;
		background-size: auto 100%;
		box-shadow: 0px 7px 3px -4px white;
	}
	#swiper {
		height: 80%;
		opacity: 1;
		width: 100%;
		top: 20%;
		position: absolute;
		padding-bottom: 15%;
		padding-top: 15%;
		left: 0;
		.swiper-slide  {
			position: relative;
		}
		.content {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			font-size: 3rem;
			text-align: center;
			color: white;
			padding: 15px 0 ;
			background: rgba(0, 0,0, 0.5);
		}
		.swiper-slide__bg {
			width: 100%;
			opacity: 1;
			height: 100%;
			transition: all 1s;
			box-shadow: 0 0 31px 10px white;
			
			// background-position-x: 50%;
			// background-position-y: 50%;
		}
		@for $i from 0 to 6 {
			.swiper-slide__bg$i {
				background: url(/public/img/nav_$(i).jpg) no-repeat center;
				background-size: 100% auto;
				
			}
			.swiper-slide-active .swiper-slide__bg {
				background-size: 110% auto;
				// background-position-x: 50%;
				// background-position-y: 50%;
				
			}
		}

	}
	#modal-top {

		& .modal-dialog  {
			width: 80%;
			height: 80%;
			
		}
		& p {
			font-size: 16px;
			line-height: 1.75em;
			margin: 1.5em 0;
		}
		& .modal-content {
			position: relative;
			height: 100%;
			line-height: 1.5em;
			padding: 12px;
			padding-top: 30px;
			background: #f7f8f1;
		}
		& .close{
			position: absolute;
			right: 2%;
			top: 2%;
		}
		& .modal-body {
			position: initial;
		}
	}
	.goods {
		width: 180px;
		
		float: left;
		margin-left: 15px;
		text-align: center;
		&-wrap {
			box-shadow: 0px 0 4px 2px rgba(52, 63, 75, 0.08);
			padding: 5px 0;
			
		}
		& p {
			margin-top: 10px;
		    font-size: 14px !important;
			margin-bottom: 5;
		}
	}
	.intro-part__one {
		min-height: 400px;
		img {
			width: 100%;
		}
		.left {
			padding-right: 12px;
		}
	}
	.intro-part__two {
		img {
			width: 100%;
		}
		.left {
			padding-right: 12px;
		}
		background: url(/public/img/big-bg.png) no-repeat center;
		background-size: 100% auto;
		min-height: 400px;
	}
	.intro-part__three {
		color:white;
		text-align: center;
		background: url(/public/img/intro_3_1.jpg) no-repeat center;
		min-height: 400px;
		background-size: 100% auto;
	}

	.culture-one {
		& img {
			widh: 100%;
		}
	}
}


