*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html,
body {
	/*font-family: -apple-system, BlinkMacSystemFont, "AvenirNext-Regular", "Helvetica Neue", "lucida grande", "PingFang HK", "Heiti SC", "Hiragino Sans GB", "Microsoft Yahei", SimHei, "WenQuanYi Micro Hei", "Droid Sans", "Roboto", Helvetica, Tahoma, Arial, "sans-serif";*/
	font-family: "PingFang SC", "AvenirNext";
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 1.42857143;
}
body {
	margin: 0;
}
:global {
	#swiper {
		height: 30%;
		max-height: 400px;
		width: 100%;
		position: absolute;
		top:0;
		left: 0;
		& .swiper-slide {
			position: relative;
		}
		@for $i from 1 to 5 {
            .swiper-slide__bg$i {
            	background-image: url(/public/img/nav_$(i).jpg);
				background-size: 100% 100%;
				filter: blur(15px);
				width: 100%;
				height: 100%;
            }
        }
		& .swiper-slide__image{
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	.swiper-slide {
		line-height: 300px;
		color: black;
		font-size: 36px;
		text-align: center;
	}
	#main {
		background: red;
		& .left {
			width: 20%;
			height: 100%;
			background: green;
			display: inline-block;
			float: left;
		}
		& .right {
			background: white;
			height: 100%;
		}
	}
	.left-ul {
		&__li {
			width: 100%;
			background: yellow;
		}
		&__item {
			line-height: 40px;
			color:red;
			display: block;
			width: 100%;
			text-decoration: none;
			text-align: center;
			font-size: 18px;
		}
	}
}