*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none;
}

body, html {
	height: 100%;
	font-family: "PingFang SC", "AvenirNext", "Microsoft YaHei";
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 1.42857143;
}
body {
	position: relative;
	margin: 0;
}
body:after {
	content: '';
	display: block;
	/*padding-bottom: 74px; /* calc(60 + 1em) */
}

a {
	color: #009de7;
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
}

button {
	border: 0;
}

p{
	margin: 0;
	cursor: default;
}
span{
	cursor: default;
}
#body {
	background-color: #fafbfd;
}
