*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none;
}
* {
	user-select: none;
}

body, html {
	height: 100%;
	font-family: "PingFang SC", "AvenirNext", "Microsoft YaHei";
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 1.42857143;
}
body {
	position: relative;
	margin: 0;
}
body:after {
	content: '';
	display: block;
	/*padding-bottom: 74px; /* calc(60 + 1em) */
}

a {
	color: #009de7;
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
}

button {
	border: 0;
}

p{
	margin: 0;
	cursor: default;
}
span{
	cursor: default;
}
#body {
	background-color: #fafbfd;
}
.hide{
	display: none !important;
}
.show {
	display: block !important;
}
.game-bg {
	background: url(/public/img/game/bg.jpg) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#index  {
	color: #2dc500;
	font-size: 50px;
	text-align: center
}
#index .title {
	
	text-shadow: 5px 5px 5px white;
	margin-top: 30px;
	text-align: center
}
#index .select_sex {
	margin-top: 30px;
	text-align: center;
	text-shadow: 5px 5px 5px white;
}
#index .role {
	height: 480px;
	width: 370px;
	top: 40%;
	position: absolute;
}
#index .role.role_girl {
	position: absolute;
	left: 15%;
}
#index .role.role_boy {
	position: absolute;
	right: 15%;
}
#index .role .girl, #index .role .boy {
	width: 100%;
	height: 100%;
}
#index .role .girl img, #index .role .boy img {
	width: 100%;
	height: 100%;
}
#index .role .name {
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	color: blue;
	text-shadow: 5px 5px 5px white;
}


.start-game {
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
	margin: auto;
	padding: 20px;
	border-radius: 15px;
	display: inline-block;
	width: 400px;
	color: white;
	background: #2dc500;
}

#intro {
	height: 100%;
}
#intro .chushi-wrap, #intro .role-wrap {

}
#intro .role-wrap {
	position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
#intro .chushi {
	width: 400px;
    height: auto;
    position: absolute;
    top: 200px;
    left: 100px;
}
#intro .chat {
	display: inline-block;
    padding: 10px;
    background: white;
    border-radius: 10px;
    top: 36%;
    position: absolute;
    left: 28%;
	font-size: 30px;
	box-shadow: 0 0 3px 4px #c0c0c0;
}
#intro .chat-left:after {
	content: '';
    position: absolute;
    bottom: -34px;
    width: 189px;
    left: -13%;
    height: 36px;
    background: red;
    background: url(/public/img/game/arrow-left.png) no-repeat;
    background-size: 100% 100%;
}
#intro .role {
	width: 400px;
    height: auto;
    position: absolute;
    top: 398px;
    right: 15%;
}