*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none;
}
* {
	user-select: none;
}

.ui-loader {
    display: none;
}
body, html {
	height: 100%;
	font-family: "PingFang SC", "AvenirNext", "Microsoft YaHei";
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 1.42857143;
}
body {
	position: relative;
	margin: 0;
}
body:after {
	content: '';
	display: block;
	/*padding-bottom: 74px; /* calc(60 + 1em) */
}

a {
	color: #009de7;
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
}

button {
	border: 0;
}

p{
	margin: 0;
	cursor: default;
}
span{
	cursor: default;
}
#body {
	background-color: #fafbfd;
}
.hide{
	display: none !important;
}
.show {
	display: block !important;
}
#alert {
    position: absolute;
    top: -100px;

    transition: top 1s;

    font-size: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    width: 400px;
    text-align: center;
    color: white;
    background: #2dc500;
}
#alert.active {
    top: 0 !important;
}
.index-head  {
        position: absolute;
    top: 13%;
    width: 100%;
    font-size: 77px;
}
.game-bg {
	background: url(/public/img/game/bg.jpg) no-repeat;
	background-size: 100% 100%;
	position: fixed;
	left: 0;
	right: 0;
    height: 100%;
	top: 0;
	bottom: 0;
}
#index  {
	color: #2dc500;
	font-size: 50px;
	text-align: center
}
#index .title {
	
	text-shadow: 5px 5px 5px white;
	margin-top: 30px;
	text-align: center
}
#index .select_role {
    width: 100%;
    height: 100%;
    display: block;
    /*background: red;*/
    position: absolute;
    bottom: 0;
}
#index .select_sex {
	margin-top: 30px;
	text-align: center;
	text-shadow: 5px 5px 5px white;
}
#index .role {
	height: auto;
	width: 400px;
	bottom: 0;
	position: absolute;
}
#index .role.role_girl {
	position: absolute;
	left: 15%;
}
#index .role.role_boy {
	position: absolute;
	right: 15%;
}
#index .role .girl, #index .role .boy {
	width: 100%;
	height: auto;
}
#index .role .girl img, #index .role .boy img {
	width: 400px;
	height: auto;
}
#index .role .name {
     /*display:none;*/
    position: absolute;
    bottom: 6px;
    left: -8%;

    right: 0;
    /*color: #00f;*/
    text-shadow: 0px 0px 3px #fff;
}


.start-game {
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
	margin: auto;
	padding: 10px;
	border-radius: 15px;
	display: inline-block;
	width: 400px;
	color: white;
	background: #2dc500;
}
.restart-game {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    width: 400px;
    color: white;
    background: #2dc500;
    font-size: 50px;
    text-align: center;
}
.start-question {
    position: absolute;
    bottom: 100px;
    font-size: 50px;
    text-align: center;
    left: 0;
    color: white;
    right: 0;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    width: 400px;
    color: white;
    background: #2dc500;
}

#intro {
	height: 100%;
}
#intro .chushi-wrap {
    position: absolute;
    width: 100%;
    height: 100%

}
#intro .role-wrap {
	position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
}
#intro .chushi {
	width: 400px;
    height: auto;
    position: absolute;
    bottom: 30px;
    left: 100px;
}
#intro .chat {
	display: inline-block;
    padding: 10px;
    background: white;
    border-radius: 10px;
	top: 36%;
	width: 45%;
	height: 20%;
    position: fixed;
    left: 28%;
	font-size: 30px;
	box-shadow: 0 0 3px 4px #c0c0c0;
}
#intro .chat-right {
	left: 44%;
    width: 30%;
}
#intro .chat-left:after {
	content: '';
    position: absolute;
    bottom: -34px;
    width: 189px;
    left: -4%;
    height: 36px;
    background: url(/public/img/game/arrow-left.png) no-repeat;
    background-size: 100% 100%;
}
#intro .chat-right:after {
	content: '';
    position: absolute;
    bottom: -34px;
    width: 189px;
    left: 72%;
    height: 36px;
    background: url(/public/img/game/arrow-right.png) no-repeat;
    background-size: 100% 100%;
}
#intro .role {
	width: 320px;
    height: auto;
    position: fixed;
    bottom: -5px;
    right: 9%;
}

#question {
    width: 100%;
    height:100%; 
}
#question .question-chushi {
    width: 40%;
    display: inline-block;
    height: 100%;
      color:white;
    font-size: 50px;
    float:left;
    position: relative;
}
#question .question-chushi_wrap {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: 0%;
    left: 8%;
}
#question .question-title {
  display: inline-block;
    color: black;
    padding: 10px;
    background: white;
    border-radius: 10px;
    top: 29%;
    min-width: 36%;
    width: 45%;
    height: 20%;
    position: absolute;
    left: 63%;
    font-size: 30px;
    box-shadow: 0 0 3px 4px #c0c0c0;
}
#question .question-title:after {
    content: '';
    position: absolute;
    bottom: -34px;
    width: 189px;
    left: -4%;
    height: 36px;
    background: url(/public/img/game/arrow-left.png) no-repeat;
    background-size: 100% 100%;
}
#question .question-chushi_wrap img {
    width: 100%;
    height: auto;
}
#question .questions-list {
    width: 60%;
    float: left;
    height: 100%;
}
#question .questions-list .flex-column {
    margin-top: 30px;
}
.show-result .list-item .check {
    opacity: 1 !important;
}
#question .list-item {
    background: rgba(255,255,255, 0.8);
    box-shadow: 0 0 19px 1px #c0c0c0;
    border-radius: 15px;
    height: auto;
    position: relative;
    text-align: center;
}
#question .list-item.select {
    /*box-shadow: 0 0 19px 1px #2dc500;*/
    background: #2dc500;
    color: white;
}
#question .list-item .check {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*opacity: 0;*/
    margin: auto;
}
#question .list-item .check.right {
    background: url(/public/img/game/right.png) center no-repeat;
    background-size: 50% auto;
}

#question .list-item .check.error {
    background: url(/public/img/game/error.png) center no-repeat;
    background-size: 50% auto;
}
#question .list-item .check.no-select {
    background: url(/public/img/game/no-select.png) center no-repeat;
    background-size: 50% auto;
}
.list-wrap {
    width: 70%;
    margin: auto;
    text-align: center;;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.list-wrap img {
    width: 100%;
}

.list-wrap p {
   margin: 0 !important;
   font-size: 20px;
   line-height: 1 !important;
}

#confirm-answer {
   position: absolute;
    bottom:30px;
    left: 0;
    text-align: center;
    right: 0;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    width: 500px;
    color: white;
    background: #2dc500;
    font-size: 50px;
}
.questions-grade {
    width: 40%;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
}
.grade-role {
    position: absolute;
    right: 30px;
    bottom: -2%;
    width: 411px;
}

.grade-chat{
    display: inline-block;
    padding: 10px;
    background: white;
    border-radius: 10px;
    top: 30%;
    text-align: center;
    width: 35%;
    height: 20%;
    position: absolute;
    left: 0;
    font-size: 30px;
    box-shadow: 0 0 3px 4px #c0c0c0;
}
.grade-chat:after {
    content: '';
    position: absolute;
    bottom: -34px;
    width: 189px;
    left:59%;
    height: 36px;
    background: url(/public/img/game/arrow-right.png) no-repeat;
    background-size: 100% 100%;
}
.over-grade {
     position: absolute;
    top: -9%;
    left: 62%;
    width: 500px;
    height: 500px;
    background: url(/public/img/game/grade.png) center no-repeat;
    background-size: 100% auto;
}
#over .over-chat {
    display: inline-block;
    padding: 10px;
    background: white;
    border-radius: 10px;
    top: 16%;
    min-height: 14%;
    font-size: 50px;
    line-height: 103px;
    position: absolute;
    left: 33%;
    font-size: 50px;
    letter-spacing: 13px;
    max-width: 34%;
    box-shadow: 0 0 3px 4px #c0c0c0;
}
#over .over-chat:after {
    content: '';
    position: absolute;
    bottom: -34px;
    width: 189px;
    left: -4%;
    height: 36px;
    background: url(/public/img/game/arrow-left.png) no-repeat;
    background-size: 100% 100%;
}
.over-role_wrap {
    position: absolute;
    right: 4%;
    top: 17%;
}
.over-role {
    width: 500px;
    height: auto;
}